a {
    color: #337ab7;
}

.product-name{
    padding-left: 30px;
    font-weight: bold;
}

.document-toolbar{
    min-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: medium;
    border-bottom: solid 1px;
    position: relative;
}

.document-content{
    padding: 20px;
}

.document-footer{
    padding: 20px;
    border-top: solid 1px;
}

.header img{
    margin-right: 20px;
    margin-left: 10px;
}

.logo{
    height: 40px;
    width: 40px;
}

.product-name{
    display: inline-block;
}

.toolbar-item{
    display: inline-block;
    float: right;
    font-size: 0.8em;
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;;
    line-height: 40px;;

}

.output-console {
    display: block;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-bottom: 40px;
    padding-top: 5px;
}

.connection-error{
    font-family: monospace;
    white-space: pre-line;
}

.query-error{
    font-family: monospace;
    white-space: pre;
}

.table-resultset {
    width: auto;
}

.table-resultset td {
  white-space: pre-wrap;
}

.duration-div {
    margin-left: 10px;
    margin-right: 20px;
}

.duration-table{
    width: 100%;
    text-align: right;
}

.duration-table tr td:first-child{
    text-align: left;
}

.rows-count-div{
    margin-left: 10px;
}

.c3-legend-item{
    font-size: inherit;
}

.c3 svg {
    font-size: inherit;
}

.alert{
    margin-left: 10px;
    margin-right: 10px;
}

.object-info-div{
    margin-left: 20px;
    margin-bottom: 10px;
}

.object-info-name{
    font-weight: bold;
}

.object-info-columns-table td{
    padding-left: 10px;
    padding-right: 30px;
}

.object-info-columns-table th{
    padding-left: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.markdown-block{
    padding-left: 10px;
}

/* sqldoc csv render*/
.csv-div {
    margin-left: 10px;
    white-space: nowrap;
}
.csv-fields-div {
    margin-left: 10px;
    white-space: nowrap;
}
.csv-field {
    font-weight: bold;
}
.csv-separator{
    margin-left: 3px;
    margin-right: 3px;
}

/* explain plan */
.explain-plan-header-title{
}

.explain-plan-node-title{
}

.explain-plan-node-arrow{
    cursor: pointer;
}

.explain-plan-node-arrow-hidden{
    font-size: 0;
    color: rgba(0,0,0,0);
}

.explain-plan-node-skipped-note{
    font-size: 0;
    color: rgba(0,0,0,0);
}

.explain-plan-details{
    font-family: monospace;
}

.explain-plan-rownum-switch{
    cursor: pointer;
}

.explain-plan-view-switcher{
    cursor: pointer;
    margin-left: 10px;
}

.explain-plan-mount-div{
    width: 100%;
    height: 400px;
    overflow: scroll;
    border: solid 1px;
}

path.link{
    fill: none;
}
/* ------- */

/* bubble chart */

.bubbles-tooltip{
position: absolute;
z-index: 10;
visibility: hidden;
color: white;
padding: 8px;
background-color: rgba(0, 0, 0, 0.75);
border-radius: 6px;
font: 12px sans-serif;
}

/* ------- */

/* table column */
.table-column-header{
    cursor: pointer;
    white-space: nowrap;
    vertical-align: top !important;
}

.table-column-header-info{
    margin-left: 5px;
    margin-right: 2px;
}

.table-column-sorted-asc:after{
    content: "\e094";
    font-family: 'Glyphicons Halflings';
}

.table-column-sorted-desc:after{
    content: "\e093";
    font-family: 'Glyphicons Halflings';
}

.table-column-sorted-none:after{
    padding-left: 1.8em;
}

.table-column-header-datatype{
    font-size: 0.6em;
}
/* ------- */
